
.accueil {
  text-align: center;
  padding: 40px 20px;
}


.logo {
  width: 100px;
  margin: 20px 0;
}

.slogan {
  font-size: 1.2em;
  margin: 5px 0;
  color: #121C68;
}

.description {
  max-width: 800px;
  margin: 30px auto;
  font-size: 1.1em;
  line-height: 1.6;
  color: #121C68;
  text-align: left;
}

.rouge {
  color: #B01829;
  font-weight: bold;
}

.bleu {
  color: #121C68;
  font-weight: bold;
}

.blanc {
  color: #ffffff;
  background-color: #333;
  padding: 2px 6px;
  border-radius: 4px;
}


